<!-- Header -->
<header class="bg-primary py-5 mb-5">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
			<div class="col-lg-12">
				<h1 class="display-4 text-white mt-5 mb-2">
					<img src="assets/logo.png" style="float:right;width:110px;height:auto;" />
					Elektro-Fachbetrieb<br />Benether & Soehne
				</h1>
				<p class="lead mb-5 text-white-50">
					Stolz auf unsere Herkunft, stolz auf unsere Geschichte. Seit 70 Jahren verrichtet der
					Familien-betrieb Benether & Soehne fachmaennische Elektro-Installationen. Angefangen als Lieferant
					von elektr. Zuendern fuer Bomen-Hersteller im 3ten Reich, installieren wir heute Car-Ports mit
					Tesla-Ladestation und Power-Banks fuer komplette Haeuser.
				</p>
			</div>
		</div>
	</div>
</header>